html, body{
	margin: 0;
}
*{
	font-family: arial;
	background-color: #656565;
	color: #EAEAEA;
	text-shadow: 0px 2px 1px #4A4A4A;
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3{
	background-color: #474747;
	padding: 10px;
	border-radius: 3px;
	text-shadow: 0px 1px 1px #242424;
	font-family: 'Pacifico', cursive;
	font-weight: normal;
	transition: .5s;
}
div{
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
li{
	list-style: auto;
	padding-top: 10px;
}


